{% extends "base.html" %}

{% block content %}
<style>
            body {
                background-image: url(https://s1.1zoom.ru/b5050/385/Horses_Middle_Ages_464834_2560x1440.jpg);
                background-size: cover
                }       
            </style>
	<h3><font size = "24" color="white">{{monster.username}}</font></h3>
    <h5><font size = "24" color="white">&#128526;Здоровье - {{monster.hp}}</font></h5>
    <h5><font size = "24" color="white">&#9763;Урон - {{monster.damage}}</font></h5>
    <h5><font size = "24" color="white">&#10031;Уровень - {{monster.level}}</font></h5>
    <h5><font size = "24" color="white">&#36;Деньги - {{monster.money}}</font></h5>
    <h5><font size = "24" color="white">&#9762;Броня - {{monster.armor}}</font></h5>
    <img src="{{monster.picture}}" height="400px" alt="">

   	<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
    <p>{{ form.submit() }}</p>
	</form>
{% endblock %}